*,
::before,
::after{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
}
header .menu ul{
    list-style: none;
    display: flex;
}
.checkbox::before,
.checkbox::after{
    content: "";
    height: 5px;
    width: 10px;
    background-color: black;
    
}
.checkbox{
    display: flex;
    gap: 15px;
    flex-direction: column;
    background-color: green !important;
}
.menu .hamburger{
    display: none; 
}
.checkbox:checked + .hamburger{
    display: block;
}
.logo :first-child::-webkit-scrollbar{
    font-size: 70px;
}
.logo :first-child{
    position: fixed;
}

body{
    height: 200vh;
    background-color: red;
}